body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -200px; /*скрыта за экраном */
    width: 200px;
    height: 100%;
    background-color: #333;
    color: white;
    padding-top: 20px;
    transition: left 0.3s ease;
    z-index: 1000;
}

sidebar.active {
    left: 0; /*показываем*/
}
#mainContent. {
    margin-left: 0;
    padding: 20px;
    transition: margin-left 0.3s ease;
    }
#mainContent.shifted{
    margin-left: 220px;
}
#toggleSidebar {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1100;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 4px;
}


.sidebar button {
    width: 100%;
    padding: 15px;
    border: none;
    background-color: #333;
    color: white;
    text-align: left;
    font-size: 18px;
    cursor: pointer;
}

.sidebar button:hover {
    background-color: #575757;
}

#productSection, #scriptSection {
    margin-left: 220px;
    padding: 20px;
}

#productDetails, #scriptDetails {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}
